---
---
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}{% if page.title|length %} @ {% endif %}{{ site.name }} </title>
		<link rel="stylesheet" href="/main.css"> {#
		<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/github.min.css">
		<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		#}
	</head>
	<body>
		<div class="site">
			<div class="header">
				<h1 class="title"><a href="http://www.opcode.eu.org/">OpCode.eu.org</a></h1>
				<a class="extra" href="/">Blog</a>
				<a class="extra" href="/about/rrp/">O autorze</a>
				<a class="extra" href="/about/site/">O serwisie</a>
			</div>
			
			{{ content }}
			
			<div class="footer">
				<div class="logo">
					<a href="http://www.opcode.eu.org/">
						<img alt="OpCode WWW site" src="http://www.opcode.eu.org/lib/opcode.svg" title="Strona należy do serwisu OpCode.eu.org" />
					</a>
				</div>
				<div class="info">
					<div class="head">
						Copyright (c) 2019, Robert Ryszard Paciorek &lt;rrp@opcode.eu.org&gt;
					</div><div class="more">
						To jest wolny i otwarty dokument/oprogramowanie. Redystrybucja, użytkowanie
						i/lub modyfikacja SĄ DOZWOLONE na warunkach <a href="/LICENSE">licencji MIT</a>.
					<br/>
						This is free and open document/software. Redistribution, use and/or modify
						ARE PERMITTED under the terms of the <a href="/LICENSE">MIT license</a>.
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
